<div ng-app="controllers.index" ng-controller="IndexCtrl" class="container">
  
  <h1>Now Playing on Hbizzle</h1>

  <!-- <table class="table">
    <thead>
      <tr>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th>Image</th>
        <th>Summary</th>
        <th><a href="" ng-click="predicate = 'year'; reverse=!reverse">Year</a></th>
        <th>IMDB</th>
        <th><a href="" ng-click="predicate = 'rating'; reverse=!reverse">Rating</a></th>
        <th><a href="" ng-click="predicate = 'imdb_rating'; reverse=!reverse">IMDB Rating</a></th>
        <th><a href="" ng-click="predicate = 'rotten_critics_score'; reverse=!reverse">Rotten Critics</a></th>
        <th><a href="" ng-click="predicate = 'rotten_audience_score'; reverse=!reverse">Rotten Audience</a></th>
        <th><a href="" ng-click="predicate = 'meta_score'; reverse=!reverse">Hbizzle Score</a></th>
      </tr>
    </thead>

    <tbody ng-cloak>
      <tr ng-repeat="movie in movies | orderBy:predicate:reverse">
        <td><strong><a href="" ng-click="play(movie, $event)">{{ movie.title }}</a></strong></td>
        <td><img src="{{ movie.image }}" alt="" height="100"></td>
        <td>{{ movie.summary }}</td>
        <td>{{ movie.year }}</td>
        <td><a href="{{ movie.imdb_link }}" target="_blank">IMDB</a></td>
        <td>{{ movie.rating }}</td>
        <td>{{ movie.imdb_rating }}</td>
        <td>{{ movie.rotten_critics_score }}</td>
        <td>{{ movie.rotten_audience_score }}</td>
        <td>{{ movie.meta_score }}</td>
      </tr>
    </tbody>
  </table> -->

  <a href="#title" class="sort">Sort By Title</a>
  <a href="#meta_score" class="sort">Sort By Hbizzle!</a>

  <div id="movies">
    <% @movies.each do |movie| %>
      <div class="movie">
        <div class="front">
          <div class="image" style="background-image:url('<%= movie.image %>')"></div>
          <div class="meta-score"><%= movie.meta_score %></div>
          <div class="title"><%= movie.title %></div>
        </div>
        <div class="back">
          <div class="image" style="background-image:url('<%= movie.image %>')"></div>
          <div class="title"><%= movie.title %></div>
          <p class="summary"><%= movie.summary %></p>
          <a class="play" href="<%= movie.hbo_link %>" target="_blank">Play</a>
        </div>
      </div>
    <% end %>
  </div>

  <script>
    $('#movies').isotope({
      itemSelector : '.movie',
      masonry: {
        columnWidth: 190,
        gutterWidth: 10
      },
      getSortData : {
        meta_score : function ($elem) {
          return parseInt($elem.find('.meta-score').text());
        },
        title : function ($elem) {
          return $elem.find('.title').text();
        }
      }
    });
    
    $('.sort').click(function () {
      var sortName = $(this).attr('href').slice(1);
      var sortAscending = (sortName === 'title') ? true : false;
      $('#movies').isotope({ sortBy : sortName, sortAscending : sortAscending });
      return false;
    });

    $('.movie').click(function () {
      $(this).toggleClass('flip').promise().done(function () {
        $('#movies').isotope( 'reLayout');
      });
    });

    $(function () {
      $('#movies').fadeIn(100, function () {
        $('#movies').isotope( 'reLayout');
      });
    });

  </script>


</div>
