<p id="notice"><%= notice %></p>

<h2>
  <a href="http://www.hbogo.com/#movies/video&assetID=<%= @movie.hbo_id %>?videoMode=embeddedVideo">
    <%= @movie.title %>
  </a>
  
</h2>

<%= image_tag @movie.image, width: '600' %>

<p>
  <strong>Summary:</strong>
  <%= @movie.summary %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Imdb link:</strong>
  <%= @movie.imdb_link %>
</p>

<p>
  <strong>Imdb Rating:</strong>
  <%= @movie.imdb_rating %>
</p>

<p>
  <strong>Rotten Critics:</strong>
  <%= @movie.rotten_critics_score %>
</p>

<p>
  <strong>Rotten Audience:</strong>
  <%= @movie.rotten_audience_score %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<%= link_to 'Back', movies_path %>
